@using AuthServer.Main.Resources
@model AuthServer.Main.Models.PageViewModel
@inject SignInManager<IdentityUserExtended> SignInManager
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("CHANGE_PASSWORD");
}

<div class="inspire-layout h-100">
    <div class="inspire-layout-content h-100 login-bg ">
        <div class="inspire-layout-content-inner">
            <div class="d-flex flex-row-reverse p-5">
                <div class="card w-25">
                    <div class="card-body p-5">
                        <p class="text-center mb-3"><strong>Your Password Updated Successfully.</strong></p>
                        <div class="text-center">
                            <a class="btn btn-secondary text-white" href='@Url.Action("Login", "Account", new {Model.ReturnUrl})'>Login</a>
                        </div>
                        <hr class="text-primary" style="border: solid 0.1px !important;">
                        <div class="text-primary text-center">
                            <p style="font-size:16px !important;">SimpleInspire from Simplesolve</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>