

<div class="inspire-layout h-100">
    <div class="inspire-layout-content h-100 login-bg ">
        <div class="inspire-layout-content-inner">
            <div class="d-flex flex-row-reverse p-5">
                <div class="card w-25">
                    <div class="card-body p-5">
                        <h4>Congratulations! </h4>
                        <p><strong>Your Multi Factor Authentication has been configured Successfully.</strong></p>
                        <div class="d-flex justify-content-center my-3">
                            <a class="inspire-btn-secondary px-5" autofocus tabindex="-1" href='@Url.Action("Login", "Account", new{returnUrl =Context.Request.Query["returnUrl"]})'>Login</a>
                        </div>

                        <hr class="text-primary" style="border: solid 0.1px !important;">
                        <div class="text-primary text-center">
                            <p class="font-size:16px !important;">SimpleInspire from Simplesolve</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>