@using AuthServer.Main.Resources
@*@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}
<h2>@ViewData["Title"]</h2>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT")
</p>
*@
<div class="inspire-layout h-100">
    <div class="inspire-layout-content h-100 login-bg ">
        <div class="inspire-layout-content-inner">
            <div class="d-flex flex-row-reverse p-5">
                <div class="card w-25">
                    <div class="card-body p-5">
                        <h4>Success! </h4>
                        <p>
                            <strong>
                                An email will be send to the registered email id.
                                Please click on the link provided in the email received to reset the password.
                                If you do not receive the email then check junk emails for the email.
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
