@using Baic.AuthMain.Resources
@model Baic.AuthMain.Models.AccountViewModels.ChangePasswordViewModel
@inject SignInManager<IdentityUserExtended> SignInManager
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("CHANGE_PASSWORD");
}

<div class="inspire-layout h-100">
    <div class="inspire-layout-content h-100 login-bg ">
        <div class="inspire-layout-content-inner">
            <div class="d-flex flex-row-reverse p-5">
                <div class="card w-25">
                    <div class="card-body p-5">
                        <form asp-route="ChangePassword">
                            <input type="hidden" asp-for="userPK" />
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group-sm mb-2">
                                <input asp-for="UserId" type="text" class="form-control" placeholder="Username" aria-label="UserName" readonly>
                            </div>
                            <div class="form-group-sm mb-2">
                                <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Current Password" aria-label="CurrentPassword">
                                @*<span toggle="#CurrentPassword" class="showPassword" id="showPassword"
                                      title="Show/Hide Password">
                                    <i data-feather="eye"></i>
                                </span>*@
                            </div>
                            <div class="form-group-sm mb-2">
                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" aria-label="NewPassword">
                                @*<span toggle="#NewPassword" class="showPassword" id="showNewPassword"
                                      title="Show/Hide Password">
                                    <i data-feather="eye"></i>
                                </span>*@
                            </div>
                            <div class="form-group-sm mb-2">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" aria-label="ConfirmPassword">
                                @*<span toggle="#ConfirmPassword" class="showPassword" id="showConfirmPassword"
                                      title="Show/Hide Password">
                                    <i data-feather="eye"></i>
                                </span>*@
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-secondary" type="submit">Update</button>
                            </div>

                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="mt-3">
                                    @Html.ValidationSummary(false,"", new{@class = "alert alert-danger"})
                                </div>
                            }
                        </form>
                    </div>

                    <div>
                        <hr class="text-primary" style="border: solid 0.1px !important;">
                        <div class="text-primary text-center">
                            <p class="font-size:16px !important;">SimpleInspire from Simplesolve</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
