@using Baic.AuthMain.Resources
@model PasswordRecoveryViewModel
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD");
}


<div class="inspire-layout h-100">
    <div class="inspire-layout-content h-100 login-bg ">
        <div class="inspire-layout-content-inner">
            <div class="d-flex flex-row-reverse p-5">
                <div class="card w-25">
                    <div class="card-body p-5">
                        <h5 class="card-title">Forgot Password?</h5>
                        <p>Please provide your User Id to answer the security question.</p>
                        <form id="frmForgot" asp-route="ForgotPassword" method="post" class="form-horizontal">
                            <div class="mb-3">
                                <input asp-for="UserID" autofocus class="form-control form-control-sm fs-6" placeholder="@SharedLocalizer.GetLocalizedHtmlString("USERID")" />
                            </div>
                            <div class="mb-3" style="display: flex; flex-direction: row-reverse;justify-content: space-around;">
                                <button name="submit" value="ForgotPassword" class="inspire-btn-secondary px-5">@SharedLocalizer.GetLocalizedHtmlString("Submit")</button>
                                <button name="submit" value="Cancel" class="inspire-btn-secondary px-5">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</button>
                            </div>
                            <div asp-validation-summary="All"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
