@using Baic.AuthMain.Resources
@model Baic.AuthMain.Models.AccountViewModels.ResetPasswordViewModel;
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("RESET_YOUR_PASSWORD");
}

<div class="inspire-layout h-100">
    <div class="inspire-layout-content h-100 login-bg ">
        <div class="inspire-layout-content-inner">
            <div class="d-flex flex-row-reverse p-5">
                <div class="card w-50">
                    <div class="card-body p-5">
                        <div class="col-sm-24">
                            <h5 class="card-title">Reset Password</h5>
                            <form asp-route="NewLoginResetPassword" class="form-horizontal">
                                <div class="form-group row justify-content-center align-items-center">
                                    <div class="col-9 w-50">
                                        <div class="form-group row">
                                            <div class="col-sm-24">
                                                <label asp-for="UserId" title="UserId" class="control-label">User ID</label>
                                                <input class="form-control form-control-sm" placeholder="Username" asp-for="UserId" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-24">
                                                <label asp-for="NewPassword" title="NewPassword" class="control-label">Enter New Password</label>
                                                <input type="password" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" class="form-control form-control-sm" placeholder="New Password" asp-for="NewPassword" data-placement="left" data-trigger="manual" title="Caps lock is ON" autocomplete="off">
                                              @*  <span toggle="#NewPassword" class="showPassword small" id="showNewPassword" title="Show/Hide Password">
                                                    <i data-feather="eye"></i>
                                                </span>*@
                                                @*  <a href="#" id="tip"
                                                class="btn btn-icon text-danger help-icon-password"
                                                data-toggle="popover"
                                                data-trigger="focus"
                                                title="Password Policy"
                                                data-html="true"
                                                data-content="1. Password must be a minimum of 8 Characters and maximum 25.<br />2. Password should not be the same as the User ID.<br />3. Password should have at least one Upper Case, one Lower Case, one numeric and one special character.<br />4. Password must start with an alphabet.<br />5. Password should not be same as recent 5 passwords">
                                                <i class="feather-16" data-feather="help-circle"></i>
                                                </a>*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-24">
                                                <label asp-for="ConfirmPassword" title="ConfirmPassword" class="control-label">Confirm Password</label>
                                                <input type="password" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" class="form-control form-control-sm" placeholder="Confirm Password" asp-for="ConfirmPassword" data-placement="left" data-trigger="manual" title="Caps lock is ON" autocomplete="off">
                                               @* <span toggle="#ConfirmPassword" class="showPassword small" id="showConfirmPassword" title="Show/Hide Password">
                                                    <i data-feather="eye"></i>
                                                </span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-light mb-3 mt-3">
                                    <div class="card-header px-1">
                                        <div class="float-left">
                                            <h5>Enter three questions and their answer, that only you know. Answers help in password recovery</h5>
                                        </div>
                                        @*<div class="float-right">
                                            <a href="#" id="q_help"
                                               class="btn btn-icon text-danger"
                                               data-toggle="popover"
                                               data-trigger="focus"
                                               title="Questions & Answers"
                                               data-html="true"
                                               data-content="1. Enter yout own questions and answers.<br />2. All the three questions must be unique.<br />3. All the three answers must be unique.">
                                                <i class="feather-16" data-feather="help-circle"></i>
                                            </a>
                                        </div>*@
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-16">
                                                <label asp-for="Question1" title="Question1" class="control-label">Question1</label>
                                                <input type="text" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" asp-for="Question1" class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-8">
                                                <label asp-for="Answer1" title="Answer1" class="control-label">Answer1</label>
                                                <input type="text" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" name="Answer1" asp-for="Answer1" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-16">
                                                <label asp-for="Question2" title="Question2" class="control-label">Question2</label>
                                                <input type="text" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" asp-for="Question2" class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-8">
                                                <label class="control-label" title="Answer2" asp-for="Answer2">Answer2</label>
                                                <input type="text" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" asp-for="Answer2" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-16">
                                                <label class="control-label" title="Question3" asp-for="Question3">Question3</label>
                                                <input type="text" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" asp-for="Question3" asp_for="Question3" class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-8">
                                                <label class="control-label" title="Answer3" asp-for="Answer3">Answer3</label>
                                                <input type="text" oncopy="return false" onPaste="return false" onCut="return false" autocomplete="off" asp-for="Answer3" class="form-control form-control-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-8" hidden>
                                        <label class="control-label" asp-for="IsPasswordQuestions">Answer3</label>
                                        <input type="text" asp-for="IsPasswordQuestions" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-sm btn-secondary">
                                        Submit
                                    </button>
                                    <a class="btn btn-sm btn-secondary " href="Login" name="cancel" value="Cancel">Cancel</a>
                                </div>

                                <div class="form-group row"></div>
                                @if (!ViewData.ModelState.IsValid)
                                {
                                    <div class="form-group row">
                                        <div class="col-24">
                                            <div class="alert alert-danger" role="alert">
                                                @Html.ValidationSummary(false)
                                            </div>
                                        </div>
                                    </div>
                                }
                            </form>
                        </div>
                        <div class="alert alert-danger mb-2 w-100 d-none @(!string.IsNullOrEmpty(Model.ErrorMessage) ? "d-block" : "")" role="alert">
                            @Model.ErrorMessage
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        //$(function () {
        //    $('#tip').popover();
        //    $('#q_help').popover();
        //    //$('[data-toggle="popover"]').popover()
        //})

        //$('.popover-dismiss').popover({
        //    trigger: 'focus'
        //})


        feather.replace();
        jQuery("#showPassword").click(function () {
            var input = jQuery(jQuery(this).attr("toggle"));
            if (input.attr("type") == "password") {
                jQuery(this).html("<i data-feather=\"eye-off\" ></i>");
                feather.replace();
                input.attr("type", "text");
            } else {
                jQuery(this).html("<i data-feather=\"eye\"></i>");
                feather.replace();
                input.attr("type", "password");
            }
        });

        jQuery("#showNewPassword").click(function () {
            var input = jQuery(jQuery(this).attr("toggle"));
            if (input.attr("type") == "password") {
                jQuery(this).html("<i data-feather=\"eye-off\" ></i>");
                feather.replace();
                input.attr("type", "text");
            } else {
                jQuery(this).html("<i data-feather=\"eye\"></i>");
                feather.replace();
                input.attr("type", "password");
            }
        });

        jQuery("#showConfirmPassword").click(function () {
            var input = jQuery(jQuery(this).attr("toggle"));
            if (input.attr("type") == "password") {
                jQuery(this).html("<i data-feather=\"eye-off\" ></i>");
                feather.replace();
                input.attr("type", "text");
            } else {
                jQuery(this).html("<i data-feather=\"eye\"></i>");
                feather.replace();
                input.attr("type", "password");
            }
        });
    </script>

    }